* {
  box-sizing: border-box;
}

.app {
  margin: 15px;
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page-content {
  display: flex;
  justify-content: center;
}

.video-content {

}

.playlist {
  margin-left: 24px;
  width: 400px;
}

.comments {
  width: 640px;
}

.searchbar {
  display: flex;
  margin-bottom: 24px;
  width: 50%;
}

.searchbar__input {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
  color: #495057;
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  padding: 6px 12px;
}

.searchbar__submit {
  background-color: #868e96;
  border: 1px solid #868e96;
  border-radius: 0 4px 4px 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-left: -1px;
  padding: 6px 12px;
  user-select: none;
}

.searchbar__submit:hover {
  background-color: #727b84;
  border-color: #6c757d;
}

/* Playlist item */
.playlist-item {
  display: flex;
  margin-bottom: 8px;
}

.playlist-item__preview {
  height: 94px;
  margin-right: 8px;
}

.playlist-item__title {
  font-size: 14px;
  font-weight: 500;
}

.playlist-item__channel-title {
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  display: flex;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
